.sunrise-sunset-wrapper {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 5vh;
	width: max-content;
}

.sunrise-sunset-separator {
	position: relative;
	border-radius: 6px;
	background: #7774;
	width: 3px;
	height: 80%;
}

.sun-data-wrapper {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 10px;
	font-size: 2em;
}

.bi-sunrise-fill,
.bi-sunset {
	margin: 0 0 0 20px;
	top: 2px;
}

.sunrise-time,
.sunset-time {
	margin: 0 20px 0 0;
}

i,
.sunrise-time,
.sunset-time {
	position: relative;
	display: inline;
	cursor: default;
}

/* Phones and portrait-mode tablets */
@media only screen and (max-width: 999px) {
	.sunrise-sunset-wrapper {
		display: none;
	}
}
