.water-level-chart-wrapper {
	position: absolute;
	right: 0;
	height: 100%;
	width: 48%;
}

.tick line {
	stroke: rgba(0, 0, 0, 0.2) !important;
}

.tickLabel {
	font-size: 14px !important;
}

/* High contrast colors for nighttime */
.water-chart-night .tick line {
	stroke: rgba(255, 255, 255, 0.2) !important;
}

.water-chart-night .tickLabel {
	fill: #fff7ea !important;
}

.water-chart-night path {
	stroke: rgb(15, 74, 93) !important;
}
