.wind-info-wrapper {
	position: relative;
	border-radius: 50% !important;
	height: var(--compass-diameter);
	width: var(--compass-diameter);
}

.compass-ring {
	position: absolute;
	left: 0;
	height: 100%;
	width: 100%;
}

.compass-direction {
	position: absolute;
	color: #777;
}

.compass-E {
	top: calc(50% - 0.6em);
	margin: 0;
	right: 5%;
}

.compass-S {
	bottom: 4%;
	left: calc(50% - 0.7em);
	width: 1.4em;
	margin: 0;
}

.compass-W {
	top: calc(50% - 0.6em);
	margin: 0;
	left: 5%;
}

.wind-arrow {
	position: relative;
	height: 100%;
}

.wind-speed-inner-ring {
	position: absolute;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	border-radius: 50%;
	box-shadow: 0px 0px 8px black;
	top: calc(50% - var(--wind-inner-ring-diameter) / 2);
	left: calc(50% - var(--wind-inner-ring-diameter) / 2);
	height: var(--wind-inner-ring-diameter);
	width: var(--wind-inner-ring-diameter);
}

.wind-speed-data,
.wind-speed-units {
	position: relative;
	margin: 0;
}

@media only screen and (min-width: 1000px) {
	:root {
		--wind-inner-ring-diameter: 10.5vw;
		--compass-diameter: 15.5vw;
	}

	.compass-direction {
		height: 1.5rem;
		width: 1.5rem;
		font-size: 1.2rem;
		line-height: 1.4rem;
	}

	.compass-N {
		font-size: 1.4rem;
		left: calc(50% - 0.75rem);
	}

	.wind-arrow {
		width: 3.6em;
	}

	.wind-speed-data {
		font-size: 7.5em;
	}

	.wind-speed-units {
		font-size: 2em;
	}
}

/* Phones and portrait-mode tablets */
@media only screen and (min-width: 320px) and (max-width: 999px) {
	:root {
		--wind-inner-ring-diameter: 41vw;
		--compass-diameter: 60vw;
	}

	.wind-info-wrapper {
		margin: 0 0 20px 0;
	}

	.compass-direction {
		height: 1.2em;
		width: 1.2em;
		font-size: min(4vw, 3em);
		line-height: 1.2em;
	}

	.compass-N {
		font-size: 4.5vw;
		width: 1.4em;
		left: calc(50% - 0.7em);
		margin: 10px 0 0 0;
	}

	.compass-E {
		right: 4%;
	}

	.compass-W {
		left: 4%;
	}

	.wind-arrow {
		width: 10vw;
	}

	.wind-speed-data {
		font-size: min(20vw, 10em);
	}

	.wind-speed-units {
		font-size: min(6vw, 3em);
	}
}
