:root {
	--wind-inner-ring-diameter: 10.5vw;
	--compass-diameter: 15.5vw;
}

* {
	text-align: center;
}

.wind-info-wrapper {
	position: relative;
	border-radius: 50% !important;
	height: var(--compass-diameter);
	width: var(--compass-diameter);
}

.compass-ring {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

.compass-direction {
	position: absolute;
	height: 1.5rem;
	width: 1.5rem;
	color: #777;
	font-size: 1.2rem;
	text-align: center;
	line-height: 1.4rem;
}

.compass-N {
	font-size: 1.4rem;
	left: calc(50% - 0.75rem);
}

.compass-E {
	top: calc(50% - 1.875rem);
	right: 5%;
}

.compass-S {
	bottom: 0;
	left: calc(50% - 0.75rem);
}

.compass-W {
	top: calc(50% - 1.875rem);
	left: 5%;
}

.wind-arrow {
	position: absolute;
	left: calc(50% - 1.3vw);
	height: 100%;
	width: 2.6vw;
}

.wind-speed-header,
.wind-speed-units {
	position: absolute;
	margin: 0;
	left: calc((var(--compass-diameter) - var(--wind-inner-ring-diameter)) / 2);
	height: var(--wind-inner-ring-diameter);
	width: var(--wind-inner-ring-diameter);
	text-align: center;
	line-height: 140%;
}

.wind-speed-header {
	border-radius: 50%;
	box-shadow: 0px 0px 8px black;
	top: calc((var(--compass-diameter) - var(--wind-inner-ring-diameter)) / 2);
	font-size: 6vw;
}

.wind-speed-units {
	top: calc(75% - (var(--compass-diameter) - var(--wind-inner-ring-diameter)) / 2);
	font-size: 1.8vw;
}
