:root {
	--offset-y: 50%;
	--svg-height: 800px;
	--wind-inner-ring-diameter: 17rem;
}

* {
	font-family: 'Metropolis Bold';
	text-align: center;
}

.location-info-card-wrapper {
	position: absolute;
	overflow: hidden;
	height: 100vh;
	width: 100%;
}

.wave-background {
	position: absolute;
	background: url(../../public/img/wave.svg) repeat-x;
	top: var(--offset-y);
	height: var(--svg-height);
	width: 6400px;
	transform: translate3d(0, 0, 0);
}

.city-state-header {
	position: absolute;
	top: 100px;
	left: calc(50% - 20rem);
	height: 4rem;
	width: 40rem;
	font-size: 3rem;
}

.lat-long-header {
	position: absolute;
	top: calc(120px + 4rem);
	left: calc(50% - 10rem);
	height: 2rem;
	width: 20rem;
	font-size: 1.2rem;
}

.location-info-body-wrapper {
	position: absolute;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	/* border: 2px dashed red; */
	height: 60vh;
	width: 70vw;
	top: 30vh;
	left: 15vw;
}

.all-temp-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 80%;
	width: 460px;
}

.air-temp-info-wrapper {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	border: 2px solid black;
	border-radius: 20px;
	backdrop-filter: blur(20px);
	background: #fff8;
}

.air-temp-separator {
	position: relative;
	border-radius: 6px;
	background: #7774;
	width: 3px;
	top: 10%;
	height: 80%;
}

.wind-info-wrapper {
	position: relative;
	border: 2px solid black;
	border-radius: 50%;
	height: 400px;
	width: 400px;
	backdrop-filter: blur(20px);
	background: #fff8;
}

.wind-arrow {
	position: absolute;
	top: calc(50% - 200px);
	left: calc(50% - 35px);
	height: 400px;
	width: 70px;
}

.wind-speed-header {
	position: absolute;
	border-radius: 50%;
	box-shadow: 0px 0px 8px;
	top: calc(50% - 212px - var(--wind-inner-ring-diameter) / 2);
	left: calc(50% - var(--wind-inner-ring-diameter) / 2);
	height: var(--wind-inner-ring-diameter);
	width: var(--wind-inner-ring-diameter);
	font-size: 10rem;
	text-align: center;
	line-height: 150%;
}

.wind-speed-units {
	position: absolute;
	top: calc(50% + 124px - var(--wind-inner-ring-diameter) / 2);
	left: calc(50% - var(--wind-inner-ring-diameter) / 2);
	height: var(--wind-inner-ring-diameter);
	width: var(--wind-inner-ring-diameter);
	font-size: 3rem;
	text-align: center;
	line-height: 150%;
}

@keyframes wave {
	0% {
		margin-left: 0;
	}
	100% {
		margin-left: -1600px;
	}
}
