.sunrise-sunset-wrapper {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	height: 5vh;
}

.sunrise-sunset-separator {
	position: relative;
	border-radius: 6px;
	background: #7774;
	width: 3px;
	height: 80%;
}

.sun-data-wrapper {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	gap: 10px;
	/* margin: 0; */
	font-size: 2em;
}

i,
.sunrise-time,
.sunset-time {
	position: relative;
	display: inline;
	cursor: default;
}
