.all-temp-wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	height: 80%;
	width: 460px;
}

.air-temp-info-wrapper {
	position: relative;
	display: flex;
	justify-content: space-evenly;
	border: 2px solid black;
	border-radius: 20px;
	backdrop-filter: blur(20px);
	background: #fff4;
}

.air-temp-separator {
	position: relative;
	border-radius: 6px;
	background: #7774;
	width: 3px;
	top: 10%;
	height: 80%;
}

.temp-display-wrapper {
	position: relative;
	height: 140px;
}

.water {
	color: #fffc;
	border-radius: 20px;
	left: 15%;
	width: 70%;
	backdrop-filter: blur(20px);
	background: #fff2;
}

.temp-label {
	font-size: 1.4rem;
	margin: 10px 0 0;
}

.temp-data {
	font-size: 6rem;
	display: inline;
	margin: 0;
}

.temp-units {
	position: relative;
	font-size: 2rem;
	display: inline;
	top: -40px;
	left: 6px;
}
