.visibility-wrapper {
	position: relative;
	border: 2px solid black;
	height: 120px;
	width: 240px;
	border-radius: 20px;
	backdrop-filter: blur(20px);
	background: #fff4;
}

.bi-eye {
	position: absolute;
	height: 60px;
	width: 60px;
	top: calc(50% - 30px);
	left: 8px;
	font-size: 3rem;
	line-height: 66px;
	text-align: center;
}

.visibility-data,
.visibility-units {
	position: absolute;
	width: calc(100% - 60px);
	right: 0;
}

.visibility-data {
	top: -90px;
	font-size: 4.5rem;
}

.visibility-units {
	font-size: 1.5rem;
	top: 54px;
}
