:root {
	--global-margin: 8px;
}

.visibility-wrapper {
	position: relative;
	border: 2px solid black;
	height: 12vh;
	width: 50%;
	border-radius: 20px;
	backdrop-filter: blur(20px);
	background: #fff4;
}

.visibility-label-wrapper {
	position: absolute;
	height: 3vh;
	width: 90%;
	left: 5%;
	margin: var(--global-margin) 0;
	display: flex;
	justify-content: center;
	gap: 8px;
	align-items: center;
}

.bi-eye {
	position: relative;
	font-size: 1.8rem;
	line-height: 2.6rem;
	text-align: center;
}

.visibility-label {
	position: relative;
	width: max-content;
	font-size: 1.8rem;
}

.visibility-data,
.visibility-units {
	position: absolute;
	margin: 0;
	width: calc(100%);
	right: 0;
}

.visibility-data {
	top: 2.6rem;
	font-size: 4rem;
}

.visibility-units {
	font-size: 1.5rem;
	top: 6.8rem;
}
