:root {
	--global-margin: 8px;
}

.visibility-wrapper {
	position: relative;
	height: 12vh;
	width: 50%;
	max-width: calc(12em + 40px);
}

.visibility-label-wrapper {
	position: absolute;
	height: 3vh;
	width: 12em;
	left: calc(50% - 6em);
	margin: var(--global-margin) 0;
	display: flex;
	justify-content: center;
	gap: 8px;
	align-items: center;
}

.bi-eye {
	position: relative;
	font-size: 1.8rem;
	line-height: 2.6rem;
	text-align: center;
}

.visibility-label {
	position: relative;
	width: max-content;
	font-size: 1.8rem;
}

.visibility-data,
.visibility-units {
	position: absolute;
	margin: 0;
	width: 2.5em;
	right: calc(50% - 1.25em);
}

.visibility-data {
	top: 2.6rem;
	font-size: 4rem;
}

.visibility-units {
	font-size: 1.5rem;
	top: 7rem;
}
