:root {
	--wind-inner-ring-diameter: 17rem;
}

* {
	font-family: 'Metropolis Bold';
	text-align: center;
}

.wind-info-wrapper {
	position: relative;
	border: 3px solid black;
	border-radius: 50%;
	height: 400px;
	width: 400px;
	backdrop-filter: blur(20px);
	background: #fff4;
}

.compass-ring {
	position: absolute;
	top: calc(50% - 202px);
	left: calc(50% - 202px);
	height: 404px;
	width: 404px;
}

.compass-direction {
	position: absolute;
	height: 1.5rem;
	width: 1.5rem;
	text-align: center;
	line-height: 1.5rem;
	color: #444;
}

.compass-N {
	font-size: 1.2rem;
	color: #666;
	left: calc(200px - 0.75rem);
}

.compass-E {
	top: calc(184px - 0.75rem);
	right: 18px;
}

.compass-S {
	bottom: 0;
	left: calc(200px - 0.75rem);
}

.compass-W {
	top: calc(184px - 0.75rem);
	left: 18px;
}

.wind-arrow {
	position: absolute;
	top: calc(50% - 200px);
	left: calc(50% - 35px);
	height: 400px;
	width: 70px;
}

.wind-speed-header {
	position: absolute;
	border-radius: 50%;
	box-shadow: 0px 0px 8px black;
	top: calc(50% - 212px - var(--wind-inner-ring-diameter) / 2);
	left: calc(50% - var(--wind-inner-ring-diameter) / 2);
	height: var(--wind-inner-ring-diameter);
	width: var(--wind-inner-ring-diameter);
	font-size: 10rem;
	text-align: center;
	line-height: 150%;
}

.wind-speed-units {
	position: absolute;
	top: calc(50% + 124px - var(--wind-inner-ring-diameter) / 2);
	left: calc(50% - var(--wind-inner-ring-diameter) / 2);
	height: var(--wind-inner-ring-diameter);
	width: var(--wind-inner-ring-diameter);
	font-size: 3rem;
	text-align: center;
	line-height: 150%;
}
